@import '../constants.scss';

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 32px 0;
    border-top: 1px solid $darkblue;
    width: 100%;
    @media(min-width: 800px){
        border: none;
    }
    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    & :nth-child(2){
        & button{
            margin: 10px 0;
            padding: 8px 16px;
            width: 60%;
            border: 1px solid $lightblue;
            border-radius: 5px;
            background-color: #eee;
            color: $darkblue;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            background-color: #eee;
            &:hover {
                border-color: $darkblue;
            }
        }
    }
    &__body {
        color: $lightblue;
    }
    &__title {
        color: $darkblue;
    }
    &__thumbnail {
        margin: 16px 0;
    }
}