@import './constants.scss';

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label{
        color: $darkblue;
        font-weight: 700;
        @media(min-width: 1177px) {
            font-size: 18px;
        }
    }
    &__link{
        width: 100%;
        max-width: 600px;
        position: sticky;
        background-color: #eee;
        top: 1%;
        font-size: 12px;
        text-align: center;
        color: $lightblue;
        margin: 32px 0;
        border: 2px solid $darkblue;
        border-radius: 5px;
        padding: 12px 8px;
        cursor: pointer;
        @media(min-width: 1177px) {
            font-size: 18px;
        }
        & > span {
            color: $darkblue;
            font-weight: 700;
        }
    }
    &__list {
        width: 100%;
        @media(min-width: 800px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media(min-width: 1477px){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__select{
        padding: 8px 12px;
        color: $darkblue;
        background-color: #eee;
        border: 1px solid #ddd;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 16px;
        margin-top: 16px;
        font-family: 'Roboto', sans-serif;
        &:hover {
            outline: none;
            border: 1px solid #bbb;
        }
        & > option {
            background: #fff;
        }
    }
}